.popup-main {
    padding: 10px;
}

.popup-list-item {
    display: flex;
    align-items: center;
}

.popup-list-item-text {
    word-break: break-word;
}

.popup-remove-btn {
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
    margin-left: 2px;
}
